{
  "openapi": "3.1.0",
  "info": {
    "title": "LabelCheck API",
    "version": "1.0.0",
    "description": "Machine-readable API for alcohol label evidence extraction, deterministic verification, and review packet export. V1 is strongest for distilled spirits, supports wine and beer/malt common field matching with limited alcohol-content exception handling, and blocks open-ended other profiles."
  },
  "servers": [
    {
      "url": "https://cola.maxpetrusenko.com"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/extract": {
      "post": {
        "summary": "Extract visible label evidence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extraction results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/StructuredError"
          }
        }
      }
    },
    "/api/v1/verify": {
      "post": {
        "summary": "Verify labels against application facts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/StructuredError"
          }
        }
      }
    },
    "/api/v1/export": {
      "post": {
        "summary": "Export a client-held review packet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON review packet or CSV summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPacket"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/StructuredError"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "StructuredError": {
        "description": "Structured API error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": ["ok", "service"],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "service": {
            "type": "string"
          },
          "vision": {
            "type": "object",
            "properties": {
              "configured": {
                "type": "boolean"
              },
              "mode": {
                "type": "string"
              },
              "provider": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "endpoint": {
                "type": "string"
              },
              "imageDetail": {
                "type": "string"
              }
            }
          }
        }
      },
      "Application": {
        "type": "object",
        "required": ["brandName", "classType", "netContents", "beverageKind"],
        "properties": {
          "brandName": {
            "type": "string",
            "minLength": 1
          },
          "classType": {
            "type": "string",
            "minLength": 1
          },
          "alcoholContent": {
            "type": "string",
            "description": "Required for distilled spirits. Optional for wine and beer/malt where commodity-specific exceptions may apply."
          },
          "netContents": {
            "type": "string",
            "minLength": 1
          },
          "bottlerAddress": {
            "type": "string"
          },
          "countryOfOrigin": {
            "type": "string"
          },
          "beverageKind": {
            "type": "string",
            "enum": ["spirits", "wine", "beer", "other"],
            "description": "V1 supports spirits, wine, and beer/malt for common field matching. Other is accepted by schema but returns a blocking supported-profile check."
          },
          "imported": {
            "type": "boolean"
          },
          "agedYears": {
            "type": "number",
            "minimum": 0
          },
          "ruleProfile": {
            "type": "string"
          }
        }
      },
      "LabelInput": {
        "type": "object",
        "required": ["fileName"],
        "properties": {
          "labelId": {
            "type": "string"
          },
          "fileName": {
            "type": "string",
            "minLength": 1
          },
          "mimeType": {
            "type": "string"
          },
          "dataUrl": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "Options": {
        "type": "object",
        "properties": {
          "includeRawExtraction": {
            "type": "boolean"
          },
          "maxConcurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          }
        }
      },
      "ExtractRequest": {
        "type": "object",
        "required": ["labels"],
        "properties": {
          "labels": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/LabelInput"
            }
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          }
        }
      },
      "VerifyRequest": {
        "type": "object",
        "required": ["application", "labels"],
        "properties": {
          "application": {
            "$ref": "#/components/schemas/Application"
          },
          "labels": {
            "type": "array",
            "minItems": 1,
            "maxItems": 25,
            "items": {
              "$ref": "#/components/schemas/LabelInput"
            }
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          }
        }
      },
      "LabelExtraction": {
        "type": "object",
        "required": ["labelText", "confidence", "notes"],
        "properties": {
          "labelText": {
            "type": "string"
          },
          "brandName": {
            "type": "string"
          },
          "classType": {
            "type": "string"
          },
          "alcoholContent": {
            "type": "string"
          },
          "netContents": {
            "type": "string"
          },
          "governmentWarning": {
            "type": "string"
          },
          "bottlerAddress": {
            "type": "string"
          },
          "countryOfOrigin": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "VerificationCheck": {
        "type": "object",
        "required": ["id", "label", "status", "severity", "rationale"],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pass", "warning", "fail", "needs_review"]
          },
          "severity": {
            "type": "string",
            "enum": ["blocking", "review", "info"]
          },
          "expected": {
            "type": "string"
          },
          "observed": {
            "type": "string"
          },
          "rationale": {
            "type": "string"
          },
          "guidance": {
            "type": "string"
          }
        }
      },
      "VerificationResult": {
        "type": "object",
        "required": ["fileName", "decision", "score", "elapsedMs", "extraction", "checks", "summary", "nextSteps"],
        "properties": {
          "labelId": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "decision": {
            "type": "string",
            "enum": ["approved", "needs_review", "rejected"]
          },
          "score": {
            "type": "number"
          },
          "elapsedMs": {
            "type": "number"
          },
          "extraction": {
            "$ref": "#/components/schemas/LabelExtraction"
          },
          "checks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationCheck"
            }
          },
          "summary": {
            "type": "string"
          },
          "missingApplicationFacts": {
            "type": "array"
          },
          "nextSteps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "workflow": {
            "type": "object"
          }
        }
      },
      "ExtractResponse": {
        "type": "object",
        "required": ["results", "meta"],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "required": ["results", "meta"],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationResult"
            }
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "ExportRequest": {
        "type": "object",
        "required": ["batch"],
        "properties": {
          "batch": {
            "type": "object",
            "required": ["results"],
            "properties": {
              "batchId": {
                "type": "string"
              },
              "application": {
                "type": "object"
              },
              "results": {
                "type": "array",
                "minItems": 1
              },
              "meta": {
                "type": "object"
              },
              "adjudications": {
                "type": "object",
                "description": "Optional reviewer adjudications keyed by labelId or fileName."
              },
              "reviewerDispositions": {
                "type": "object",
                "description": "Optional reviewer dispositions keyed by labelId or fileName."
              },
              "dispositions": {
                "type": "object",
                "description": "Backward-compatible alias for reviewer dispositions."
              }
            }
          },
          "format": {
            "type": "string",
            "enum": ["json", "csv"],
            "default": "json"
          }
        }
      },
      "ExportPacket": {
        "type": "object",
        "required": ["requestId", "packetType", "schemaVersion", "exportedAt", "batchId", "application", "results", "rawImagePolicy", "batch"],
        "properties": {
          "requestId": {
            "type": "string"
          },
          "packetType": {
            "type": "string",
            "const": "labelcheck.review_packet"
          },
          "schemaVersion": {
            "type": "string"
          },
          "exportedAt": {
            "type": "string",
            "format": "date-time"
          },
          "appVersion": {
            "type": "string"
          },
          "batchId": {
            "type": ["string", "null"]
          },
          "application": {
            "type": ["object", "null"]
          },
          "results": {
            "type": "array"
          },
          "adjudications": {
            "type": "object"
          },
          "reviewerDispositions": {
            "type": "object"
          },
          "dispositions": {
            "type": "object"
          },
          "rawImagePolicy": {
            "type": "object",
            "required": ["mode", "excludedByDefault", "excludedFields"],
            "properties": {
              "mode": {
                "type": "string",
                "const": "excluded"
              },
              "excludedByDefault": {
                "type": "boolean",
                "const": true
              },
              "excludedFields": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "batch": {
            "type": "object"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message", "requestId"],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "issues": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["path", "message"],
                  "properties": {
                    "path": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
